<button
  mat-icon-button
  [color]="isVoiceEnabled ? 'success' : 'warn'"
  (click)="toggleVoice()"
  [attr.aria-label]="isVoiceEnabled ? 'Desactivar voz' : 'Activar voz'"
  [matTooltip]="isVoiceEnabled ? 'Desactivar voz' : 'Activar voz'"
  class="voice-toggle-button">
  <mat-icon>{{ isVoiceEnabled ? 'volume_up' : 'volume_off' }}</mat-icon>
</button>

<button
  mat-icon-button
  [color]="isVoiceCommandEnabled ? 'success' : 'warn'"
  (click)="toggleVoiceCommand()"
  [attr.aria-label]="isVoiceCommandEnabled ? 'Desactivar comandos por voz' : 'Activar comandos por voz'"
  [matTooltip]="isVoiceCommandEnabled ? 'Desactivar comandos por voz' : 'Activar comandos por voz'"
  class="voice-command-toggle-button">
  <mat-icon>{{ isVoiceCommandEnabled ? 'mic' : 'mic_off' }}</mat-icon>
</button>
